html{
    height: 100vh;
}
    
body {
    background-image: url(../img/doctor-flip.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: left;
    height: 100%;
    /* position: fixed; */
}

.container {
    float: right;
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    /* float: right; */
    background-color: rgb(43, 189, 247, 0.3);
}

input {
    color: darkgoldenrod;
}

#form-top {
    margin-top: 3%;
}

.card .card-body .row p a:visited,
.card .card-body .row p a:link{
    text-decoration: none;
    color: #090C89;
}

.row a:visited,
.row a:link{
    text-decoration: none;
    color: #090C89;
}