body {
    background-image: url(../img/hospiytal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: left;
    height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
    --blue: #0188df;
    --black: #354046;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.2s linear;
}

.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 8rem;
    color: var(--black);
}

.heading span {
    color: var(--blue);
}

header {
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    padding: 1rem 1rem;
    z-index: 500;
}

.header-active {
    background: #fff;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: var(--black);
}

header a:hover {
    color: var(--blue);
}

header .container .logo {
    font-size: 2rem;
}

header .container .logo span {
    color: var(--blue);
}

header .nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .nav ul li {
    margin: 0 1rem;
}

header .nav ul li a {
    font-size: 1rem;
}

header .fa-bars {
    font-size: 3.5rem;
    color: var(--blue);
    cursor: pointer;
    display: none;
}

.type {
    float: left;
    width: 33.33%;
}

.search {
    margin-left: 2%;
}

.search .btn a:visited,
.search .btn a:link {
    color: #090c89;
    text-decoration: none;
}

.footer {
    background: var(--black);
}

.footer p {
    font-size: 1rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .col-md-6 {
    padding: 1.3rem;
}

.footer .col-md-6:nth-child(1) a {
    font-size: rem;
    color: #fff;
}

.footer .col-md-6:nth-child(1) a span {
    color: var(--blue);
    font-size: 1 rem;
}

.footer a {
    font-size: 1.5rem;
    color: #ccc;
    display: block;
}

.footer h3 {
    color: #fff;
    font-size: rem;
}

.footer a:hover {
    color: var(--blue);
}

.footer .credit {
    color: #fff;
    width: 80%;
    margin: 0;
    padding: 2rem 0;
    padding-bottom: 4rem;
    border-top: 0.1rem solid #ccc !important;
}

.footer .credit span {
    color: var(--blue);
}
