@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer {
    background: rgba(116, 116, 116, 0.808);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 1rem;
    color: #eee;
    padding: 1rem 0;
}

.footer .col-md-6 {
    padding: 1.3rem;
}

.footer .col-md-6:nth-child(1) a {
    font-size: rem;
    color: #fff;
}

.footer .col-md-6:nth-child(1) a span {
    color: blue;
    font-size: 1 rem;
}

.footer a {
    font-size: 1.5rem;
    color: #ccc;
    display: block;
    text-decoration: none;
}

.footer h3 {
    color: #fff;
    font-size: rem;
}

.footer a:hover {
    color: blue;
}

.footer .credit {
    color: #fff;
    width: 80%;
    margin: 0;
    padding: 2rem 0;
    padding-bottom: 4rem;
    border-top: 0.1rem solid #ccc !important;
}

.footer .credit span {
    color: blue;
}
